Весь код был написан на python версии 3.11.9
В качестве среды разработки использовался VS Code версии 1.96
Операционная система Windows 10 x64 Arm4 32ГБ оперативной памяти

Использовались следующие библиотеки и зависимости:
- ObjectNat - для выгрузки зданий, создания матриц смежности и расчета показателей обеспеченности
- pyarrow - для эффективного чтения данных из разных источников
- IduEdu - для выгрузки графов УДС
- pandas - для обработки и анализа структурированных данных
- numpy - для математических вычислений
- geopandas - для работы с геопространственными данными
- pickle - для выполнения сериализации и десериализации объектов
- os - для получения доступа к файловой системе компьютера
- osmnx - для загрузки геопространственных данных OpenStreetMap
- shapely - для работы с геометрическими объектами, такими как точки, линии и полигоны
- networkx - для работы с графами и сетями
- folium - для визуализации гео-пространственных данных
- matplotlib - для визуализации данных двумерной и трёхмерной графикой 
